  .Navbar{
    max-width: 1050px;
    margin: 40px auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    width: 100px;
    stroke: #202020;
    cursor: pointer;
  }
  
  .Navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
  }
  
  .Navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
    color: #202020;
  }
  
  .Navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #202020;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
  }
  
  .Navbar ul li:hover::after{
    width: 100%;
  }

  .true{
    display: block;
  }

  .false{
    display: none;
  }